.container{
    padding-left: 30px;
    padding-right: 30px;
    margin: 0 auto;
    max-width: 1200px;
    width: 100%;

}

.tittle{
    font-family: 'Oswald';
    font-weight: 400;
    font-size: 37px;
    text-transform: uppercase;

    @media (max-width:$tablet){
        font-size: 25px;
    }

    @media (max-width:$mobile-sm){
        font-size: 20px;
    }
}

.btn{
    border: 0;
    background: none;
    cursor: pointer;

    font-family: 'Roboto';
}