.about{
    background-color: $yelloy;
    position: relative;
    padding-top: 94px;
    padding-bottom: 146px;
}

.about__tittle{
    position: absolute;
    left: 0;
    background-color: #FFFFFF;

    padding-top: 17px;
    padding-bottom: 17px;
    padding-left: 126px;
    padding-right: 45px;

    @media (max-width:$mobile-sm){
        padding-left: 50px;
        padding-right: 20px;
    }
}

.about__cards-folder{
    padding-top: 150px;
    display: flex;
    @media (max-width:$tablet){
        flex-wrap: wrap;
        justify-content: space-around;
    }

    @media (max-width:$tablet){
        flex-wrap: wrap;
        justify-content: center;
    }
}

.about__card{
    background-color: #FFFFFF;
    padding-top: 49px;
    padding-left: 39px;
    padding-bottom: 58px;
    width: 242px;

    &:not(:last-child){
        margin-right: 30px;
        @media (max-width:$tablet){
            margin-bottom: 60px;
        }
        @media (max-width:$mobile-sm){
            margin-right: 0px;
        }
    }

    &-tittle{
        font-family: 'Roboto';
        font-weight: 500;
        font-size: 27px;
        color: $black;
    }

    &-bigtittle{
        font-family: 'Oswald';
        font-weight: 600;
        font-size: 34px;

        color: $yelloy;

        margin-bottom: 5px;

    }

    &-text{
        font-family: 'Roboto';
        font-weight: 600;
        font-size: 18px;

        color: $black;

        max-width: 122px;
    }
}