.benefit{
    padding-top: 117px;
    padding-bottom: 60px;

    position: relative;

}

.benefit__tittle{
    background-color: $yelloy;
    color: #FFFFFF;
    position: absolute;
    left: 0;
    color: $black;

    padding-top: 17px;
    padding-bottom: 17px;
    padding-right: 60px;
    padding-left: 126px;

    @media (max-width:$mobile-sm){
        padding-left: 50px;
        padding-right: 20px;
    }
}

.benefit__card-folder{
    padding-top: 150px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
    column-gap: 18px;
    row-gap: 34px;

    @media (max-width:$tablet){
        grid-template-columns: repeat(3, 1fr);
    }

    @media (max-width:$mobile){
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width:$mobile-sm){
        grid-template-columns: repeat(1, 1fr);
    }

    
}

.benefit__card{
    border: 1.5px solid $black;
    padding-top: 25px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 53px;


    &-bigtittle{
    font-family: 'Oswald';
    font-weight: 600;
    font-size: 52px;
    color: #FFFFFF;
    text-shadow: 3px 3px 10px black;
    }

    &-tittle{
        font-family: 'Roboto';
        font-weight: 700;
        font-size: 19px;

        color: $yelloy;
        margin-bottom: 9px;
    }

    &-text{
        font-family: 'Roboto';
        font-weight: 300;
        font-size: 16px;

        margin-left: auto;
        margin-right: auto;
    }
}